.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.modal-content {
  padding: 0px 50px;
  width: 800px;
}

.modal-content input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid;
  margin-bottom: 10px;
}
