.blog-info {
  padding: 15px;
  border-radius: 10px;
  width: 30%;
  /* border: 1px solid #333; */
  margin-bottom: 20px;
  box-shadow: 0 0 5px #ccc;

}
.blog-info img {
  display: block;
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-info h2 {
  min-height: 30px;
  max-height: 35px;
  font-size: 20px;
  overflow: hidden;
  padding: 10px;
  color: #000;
  -webkit-line-clamp: 3;
}
.blog-info p {
  color: #555;
  margin-bottom: 20px;
  -webkit-line-clamp: 3;
  /* display: box; */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: normal;
  overflow: hidden;
}
/* replace it with bootstarp button */

/* .blog-info a {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: 0.5s all;
  border: 1px solid #000;
  background: transparent;
  font-size: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: #000;
}
.blog-info a:hover {
  background-color: #ff6347;
  color: #fff;
  border: 1px solid #ff6347;
} */

.blog_link {
  text-decoration: none;
}