.counter-section {
  background-image: url(../../images/main/kelly-sikkema-Z4GKcFAGck4-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  color: #FFF;
  text-align: center;
  padding: 100px 0px;
  margin-top: 80px;
}

.counter-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.counter__text {
margin-bottom: 80px;
position: relative;
font-size: 48px;
font-weight: 800;
}

.counter__text::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #FFF;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
}

.counters {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  
}

.counter {
  background-color: #76005e70;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100% ;
  z-index: 1;
  min-height: 240px;
}

.counter p {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.6;
}


.counter h4 {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.6;
}


 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .counters {
      flex-direction: row;
  }

  .counter{
      width: calc(50% - 20px);
      min-height: 245px;
  }

 }


 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
      .counter {
          width: calc(25% - 20px);
      }
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }