.page-details {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_details {
  max-width: 1200px;
  width: 100%;
  margin-top: 100px auto;
  box-shadow: 0 0 5px #ccc;
  border-radius: 6px;
}

.details {
  display: flex;
  flex-direction: line;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}

.details .main-img {
  max-width: 500px;
  min-width: 290px;
  overflow: hidden;
  margin: 25px;

}

.main-img img {
  width: 400px;
  height: 400px;
  max-width: 400px;
  object-fit: cover;
  display: block;
}

.thumb {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin: 10px 0;
}

.thumb img {
  width: 90px;
  height: 90px;
  display: block;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 5px;
  opacity: 0.7;
  border-radius: 5px;
  transition: .3s;
}

.thumb img.active {
  opacity: 1;
  border: 1px solid crimson;
}

.details .box {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}

.box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.box .line h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.box .line span {
  color: crimson;
}

.box p {
  list-style: 1.5;
  margin: 15px 0;
}

.box .add-cart {
  background: #333;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
  border-radius: 6px;
}

@media (max-width: 500px) {
  .main-img img {
    width: 400px;
  }

  .thumb {
    height: 60px;
  }

  .thumb img {
    width: 50px;
    height: 50px;
  }
}
