.active {
    color: #EA94C5;
}

 .logo {
    width:10%;
}

.logo  img {
    width: 60%;
}

header{
    position: sticky;
    background-color: #8c5c78;
    top: 0px;
    padding: 10px;
    z-index: 999;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;

}

nav {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

.links {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.links:hover {
    color: #EA94C5;
}

.nav-btn {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 5px;
    color: #FFF;
    display: none;
    opacity: 0;
}

.register-btn {
    font-weight: 500;
    font-size: 1rem;
    line-height: 28px;
    border-radius: 0.5rem;
    padding: 0.6rem 3rem;
    background-color: #f3f77a;
    color: #000;
    transition: .3s ease-in-out;
}

.register-btn:hover {
    background-color: #EA94C5;
    color: #FFF;
}

.login-btn {
    font-weight: 500;
    font-size: 1rem;
    line-height: 28px;
    border-radius: 0.5rem;
    border: 1px solid #f3f77a;
    padding: 0.6rem 3rem;
    color: #FFF;
    transition: .3s ease-in-out;
}

.login-btn:hover {
    background-color: #f3f77a;
    color: #000;
}

@media only screen and (max-width: 1024px) {
    header .nav-btn {
        display: inline;
        opacity: 1;
    }

    header nav {
        position: fixed;
       
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: #8c5c78;
        transition: .3s ease-in-out;
        transform: translateY(-100vh);
    }

    header .responsive-nav {
        transform: none;
    }

    .nav-btn-close {
        outline: none;
        border: none;
        background-color: transparent;
        padding: 5px;
        color: #FFF;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2rem;
    }

}
